<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    
     <context-param>
        <param-name>GEMINI_API_KEY</param-name>
        <param-value>Nhập API key vào đây</param-value>
    </context-param>

    <context-param>
        <param-name>GEMINI_API_URL</param-name>
        <param-value>https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>ChatAIServlet</servlet-name>
        <servlet-class>controller.ChatAIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatAIServlet</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
</web-app>
