<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>Servlet.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>Servlet.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinkStudentServlet</servlet-name>
        <servlet-class>Servlet.LinkStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParentDashBoardServlet</servlet-name>
        <servlet-class>Servlet.ParentDashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParentManageServlet</servlet-name>
        <servlet-class>Servlet.ParentManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuizDetail</servlet-name>
        <servlet-class>Servlet.ViewQuizDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitQuizServlet</servlet-name>
        <servlet-class>Servlet.SubmitQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewQuizAttemptServlet</servlet-name>
        <servlet-class>Servlet.ReviewQuizAttemptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>Servlet.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentReturnServlet</servlet-name>
        <servlet-class>Servlet.PaymentReturnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>Servlet.PayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseRequestServlet</servlet-name>
        <servlet-class>Servlet.CourseRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoQuizServlet</servlet-name>
        <servlet-class>Servlet.DoQuizServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinkStudentServlet</servlet-name>
        <url-pattern>/link</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParentDashBoardServlet</servlet-name>
        <url-pattern>/ParentDashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParentManageServlet</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuizDetail</servlet-name>
        <url-pattern>/quiz-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitQuizServlet</servlet-name>
        <url-pattern>/SubmitQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewQuizAttemptServlet</servlet-name>
        <url-pattern>/reviewQuizAttempt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentReturnServlet</servlet-name>
        <url-pattern>/payment_return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/PayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseRequestServlet</servlet-name>
        <url-pattern>/CourseRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoQuizServlet</servlet-name>
        <url-pattern>/DoQuizServlet</url-pattern>
    </servlet-mapping>
</web-app>
