<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ModuleServlet</servlet-name>
        <servlet-class>Servlet.ModuleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SigninServlet</servlet-name>
        <servlet-class>Servlet.SigninServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>Servlet.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailServlet</servlet-name>
        <servlet-class>Servlet.CourseDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailServlet_1</servlet-name>
        <servlet-class>Servlet.CourseDetailServlet_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadLessonServlet</servlet-name>
        <servlet-class>Servlet.LoadLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLessonServlet</servlet-name>
        <servlet-class>Servlet.CreateLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLessonServlet</servlet-name>
        <servlet-class>Servlet.EditLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLessonServlet</servlet-name>
        <servlet-class>Servlet.DeleteLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateModuleServlet</servlet-name>
        <servlet-class>Servlet.CreateModuleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditModuleServlet</servlet-name>
        <servlet-class>Servlet.EditModuleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParentDashBoardServlet</servlet-name>
        <servlet-class>Servlet.ParentDashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParentManageServlet</servlet-name>
        <servlet-class>Servlet.ParentManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinkStudentServlet</servlet-name>
        <servlet-class>Servlet.LinkStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <servlet-class>Servlet.CreateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionServlet</servlet-name>
        <servlet-class>Servlet.EditQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionSearchServlet</servlet-name>
        <servlet-class>Servlet.QuestionSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <servlet-class>Servlet.DeleteQuestionServlet</servlet-class>
    </servlet>
<servlet>
        <servlet-name>UptProfile</servlet-name>
        <servlet-class>Servlet.UptProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>Servlet.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuizServlet</servlet-name>
        <servlet-class>Servlet.CreateQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>Servlet.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrollCourseServlet</servlet-name>
        <servlet-class>Servlet.EnrollCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDashboardServlet</servlet-name>
        <servlet-class>Servlet.StudentDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResumeServlet</servlet-name>
        <servlet-class>Servlet.ResumeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyLearningServlet</servlet-name>
        <servlet-class>Servlet.MyLearningServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseCatalogServlet</servlet-name>
        <servlet-class>Servlet.CourseCatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuleDetailServlet</servlet-name>
        <servlet-class>Servlet.ModuleDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestInsertQuestionServlet</servlet-name>
        <servlet-class>Servlet.TestInsertQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>Servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuizDetail</servlet-name>
        <servlet-class>Servlet.ViewQuizDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizListServlet</servlet-name>
        <servlet-class>Servlet.QuizListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizDetailServlet</servlet-name>
        <servlet-class>Servlet.QuizDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuizServlet</servlet-name>
        <servlet-class>Servlet.EditQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuizServlet</servlet-name>
        <servlet-class>Servlet.DeleteQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoQuizServlet</servlet-name>
        <servlet-class>Servlet.DoQuizServlet</servlet-class>
    </servlet>
    <servlet>
<servlet-name>SubmitQuizServlet</servlet-name>
        <servlet-class>Servlet.SubmitQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewQuizAttemptServlet</servlet-name>
        <servlet-class>Servlet.ReviewQuizAttemptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuestionServlet</servlet-name>
        <servlet-class>Servlet.ViewQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonDetailServlet</servlet-name>
        <servlet-class>Servlet.LessonDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadVideoServlet</servlet-name>
        <servlet-class>Servlet.UploadVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadVideoUrlServlet</servlet-name>
        <servlet-class>Servlet.UploadVideoUrlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadDocumentServlet</servlet-name>
        <servlet-class>Servlet.UploadDocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVideoServlet</servlet-name>
        <servlet-class>Servlet.DeleteVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDocumentServlet</servlet-name>
        <servlet-class>Servlet.DeleteDocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteModuleServlet</servlet-name>
        <servlet-class>Servlet.DeleteModuleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionLesson</servlet-name>
        <servlet-class>Servlet.CreateQuestionLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseRequestServlet</servlet-name>
        <servlet-class>Servlet.CourseRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>Servlet.PayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentReturnServlet</servlet-name>
        <servlet-class>Servlet.PaymentReturnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>Servlet.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartRemoveServlet</servlet-name>
        <servlet-class>Servlet.CartRemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearCartServlet</servlet-name>
        <servlet-class>Servlet.ClearCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentRequestServlet</servlet-name>
        <servlet-class>Servlet.PaymentRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>Servlet.ViewCartServlet</servlet-class>
</servlet>
    <servlet>
        <servlet-name>InstructorDashboardServlet</servlet-name>
        <servlet-class>Servlet.InstructorDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionLessonServlet</servlet-name>
        <servlet-class>Servlet.EditQuestionLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionLessonServlet</servlet-name>
        <servlet-class>Servlet.DeleteQuestionLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoveLessonServlet</servlet-name>
        <servlet-class>Servlet.MoveLessonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModuleServlet</servlet-name>
        <url-pattern>/ModuleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SigninServlet</servlet-name>
        <url-pattern>/SigninServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailServlet</servlet-name>
        <url-pattern>/CourseDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailServlet_1</servlet-name>
        <url-pattern>/CourseDetailServlet_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadLessonServlet</servlet-name>
        <url-pattern>/LoadLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLessonServlet</servlet-name>
        <url-pattern>/CreateLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLessonServlet</servlet-name>
        <url-pattern>/EditLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLessonServlet</servlet-name>
        <url-pattern>/DeleteLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateModuleServlet</servlet-name>
        <url-pattern>/CreateModuleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditModuleServlet</servlet-name>
        <url-pattern>/EditModuleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParentDashBoardServlet</servlet-name>
        <url-pattern>/ParentDashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParentManageServlet</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinkStudentServlet</servlet-name>
        <url-pattern>/link</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <url-pattern>/CreateQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
<servlet-name>EditQuestionServlet</servlet-name>
        <url-pattern>/EditQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionSearchServlet</servlet-name>
        <url-pattern>/QuestionSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <url-pattern>/DeleteQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UptProfile</servlet-name>
        <url-pattern>/UptProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuizServlet</servlet-name>
        <url-pattern>/CreateQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrollCourseServlet</servlet-name>
        <url-pattern>/EnrollCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDashboardServlet</servlet-name>
        <url-pattern>/StudentDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResumeServlet</servlet-name>
        <url-pattern>/ResumeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyLearningServlet</servlet-name>
        <url-pattern>/MyLearningServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseCatalogServlet</servlet-name>
        <url-pattern>/CourseCatalogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModuleDetailServlet</servlet-name>
        <url-pattern>/ModuleDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuizDetail</servlet-name>
        <url-pattern>/quiz-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizListServlet</servlet-name>
        <url-pattern>/QuizListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizDetailServlet</servlet-name>
        <url-pattern>/QuizDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuizServlet</servlet-name>
<url-pattern>/EditQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuizServlet</servlet-name>
        <url-pattern>/DeleteQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoQuizServlet</servlet-name>
        <url-pattern>/DoQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitQuizServlet</servlet-name>
        <url-pattern>/SubmitQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewQuizAttemptServlet</servlet-name>
        <url-pattern>/reviewQuizAttempt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuestionServlet</servlet-name>
        <url-pattern>/ViewQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResourcesServlet</servlet-name>
        <servlet-class>Servlet.ResourcesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResourcesServlet</servlet-name>
        <url-pattern>/ResourcesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonDetailServlet</servlet-name>
        <url-pattern>/LessonDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadVideoServlet</servlet-name>
        <url-pattern>/instructor/uploadVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadVideoUrlServlet</servlet-name>
        <url-pattern>/instructor/uploadVideoUrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadDocumentServlet</servlet-name>
        <url-pattern>/instructor/uploadDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVideoServlet</servlet-name>
        <url-pattern>/instructor/deleteVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDocumentServlet</servlet-name>
        <url-pattern>/instructor/deleteDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteModuleServlet</servlet-name>
        <url-pattern>/instructor/DeleteModuleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestInsertQuestionServlet</servlet-name>
        <url-pattern>/TestInsertQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionLesson</servlet-name>
        <url-pattern>/CreateQuestionLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseRequestServlet</servlet-name>
        <url-pattern>/CourseRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/PayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentReturnServlet</servlet-name>
<url-pattern>/payment_return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartRemoveServlet</servlet-name>
        <url-pattern>/CartRemoveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearCartServlet</servlet-name>
        <url-pattern>/ClearCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentRequestServlet</servlet-name>
        <url-pattern>/PaymentRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstructorDashboardServlet</servlet-name>
        <url-pattern>/instructor/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionLessonServlet</servlet-name>
        <url-pattern>/EditQuestionLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionLessonServlet</servlet-name>
        <url-pattern>/DeleteQuestionLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoveLessonServlet</servlet-name>
        <url-pattern>/instructor/MoveLessonServlet</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>false</el-ignored>
        </jsp-property-group>
    </jsp-config>
</web-app>